* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#our-team #team-bios li:after {
  content: "";
  display: table;
  clear: both;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  color: #bada55;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
}

body {
  font-family: "Roboto", sans-serif;
  color: #515151;
}

img {
  max-width: 100%;
}

ul,
ol,
dl,
li,
dt,
dd {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
li,
dt,
dd {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  color: #003ca6;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 15px;
}

h2 {
  font-size: 26px;
  font-weight: 300;
  color: #141414;
  padding-bottom: 15px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
  color: #003ca6;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
  color: #141414;
}

.btn {
  display: inline-block;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear, to bottom, #3498db, #2980b9;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear, to bottom, #3cb0fd, #3498db;
  text-decoration: none;
}
.btn:focus {
  outline: none;
}

p,
textarea,
blockquote {
  line-height: 1.4;
}

a {
  color: #003ca6;
  text-decoration: none;
}
a:hover {
  color: #002d7c;
  text-decoration: underline;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1008px;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1025px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.container p {
  margin-bottom: 15px;
}

.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: top 0.25s ease-in-out;
  -moz-transition: top 0.25s ease-in-out;
  transition: top 0.25s ease-in-out;
}
.main-nav.headroom--not-top {
  background-color: #003ca6;
}
.main-nav.headroom--unpinned {
  top: -100%;
  -webkit-transition: top 0.25s ease-in-out;
  -moz-transition: top 0.25s ease-in-out;
  transition: top 0.25s ease-in-out;
}
.main-nav.headroom--pinned {
  top: 0;
  -webkit-transition: top 0.25s ease-in-out;
  -moz-transition: top 0.25s ease-in-out;
  transition: top 0.25s ease-in-out;
}
.main-nav__logo {
  display: block;
  float: left;
  max-width: 160px;
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  .main-nav__logo {
    max-width: 220px;
    padding: 12px 0;
  }
}
@media screen and (min-width: 1025px) {
  .main-nav__logo {
    max-width: 360px;
    padding: 30px 0;
  }
}
.main-nav__menu-button {
  display: block;
  padding: 4px 0;
  text-align: right;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .main-nav__menu-button {
    display: none;
  }
}
.main-nav__list {
  display: none;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main-nav__list {
    display: block !important;
    float: right;
    width: auto;
  }
}
.main-nav__list-item {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .main-nav__list-item {
    float: left;
    margin: 11px 0;
  }
}
@media screen and (min-width: 1025px) {
  .main-nav__list-item {
    margin: 40px 0;
  }
}
.main-nav__link {
  display: block;
  padding: 13px;
  border-radius: 3px;
  color: white;
  text-align: center;
}
.main-nav__link:hover, .main-nav__link--current-page {
  background-color: white;
  text-decoration: none;
  color: #003ca6;
}
@media screen and (min-width: 768px) {
  .main-nav__link {
    display: inline-block;
  }
}

#contact-section {
  padding: 40px 0;
}
@media screen and (min-width: 1025px) {
  #contact-section #contact-us {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  #contact-section #contact-us:last-child {
    margin-right: 0;
  }
  #contact-section #our-locations {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0;
  }
  #contact-section #our-locations:last-child {
    margin-right: 0;
  }
  #contact-section #our-locations .location {
    max-width: 1008px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding-bottom: 15px;
  }
  #contact-section #our-locations .location:after {
    content: "";
    display: table;
    clear: both;
  }
  #contact-section #our-locations .location:last-child {
    margin-right: 0;
  }
  #contact-section #our-locations .location:nth-child(2n) {
    margin-right: 0;
  }
  #contact-section #our-locations .location:nth-child(2n+1) {
    clear: left;
  }
  #contact-section #our-locations .location p {
    margin-bottom: 2px;
  }
}

#footer {
  color: #a8a8a8;
  padding: 40px 0;
  background-color: #3c3c3c;
}

#our-team {
  max-width: 1008px;
  margin-left: auto;
  margin-right: auto;
}
#our-team:after {
  content: "";
  display: table;
  clear: both;
}
#our-team aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
}
#our-team aside:last-child {
  margin-right: 0;
}
#our-team article {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
}
#our-team article:last-child {
  margin-right: 0;
}
#our-team .subhead {
  margin-bottom: 50px;
}
#our-team .staff h3 ~ h3 {
  padding-top: 25px;
}
#our-team .staff li {
  padding-bottom: 15px;
}
#our-team .staff .location {
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
}
#our-team #team-bios .bio-main {
  overflow: hidden;
}
#our-team #team-bios li {
  border-bottom: 1px solid;
  border-bottom-color: lightgray;
  padding-bottom: 25px;
  padding-top: 25px;
}
#our-team #team-bios li:last-child {
  border-bottom: 0px;
}
#our-team #team-bios li:first-child {
  padding-top: 0px;
}
#our-team #team-bios .btn {
  margin-top: 15px;
}
#our-team img {
  width: 150px;
  float: left;
  margin-right: 20px;
  border-radius: 4px;
}

.home-banner {
  position: relative;
  height: 500px;
  background: no-repeat center center fixed;
  background-size: cover;
}
.home-banner:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #003ca6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: 0.8;
}

#main-wrapper {
  padding: 40px 0;
}
#main-wrapper #inspirational-quote {
  text-align: center;
}
#main-wrapper #inspirational-quote .quote {
  font-weight: 300;
  font-size: 32px;
  color: #003ca6;
  display: block;
}
#main-wrapper #inspirational-quote .author {
  font-weight: 300;
  color: #515151;
  font-size: 16px;
  padding-top: 15px;
  display: block;
}
@media screen and (min-width: 768px) {
  #main-wrapper #welcome {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  #main-wrapper #welcome:last-child {
    margin-right: 0;
  }
  #main-wrapper #recent-news {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  #main-wrapper #recent-news:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1025px) {
  #main-wrapper #welcome {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
  }
  #main-wrapper #welcome:last-child {
    margin-right: 0;
  }
  #main-wrapper #recent-news {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  #main-wrapper #recent-news:last-child {
    margin-right: 0;
  }
  #main-wrapper #recent-news .news-item {
    border-bottom: solid 1px lightgray;
    padding-bottom: 6px;
    margin-bottom: 12px;
  }
  #main-wrapper #recent-news .news-item .post-date {
    font-size: 12px;
    text-transform: uppercase;
    color: #a8a8a8;
    display: block;
    padding-bottom: 4px;
  }
  #main-wrapper #recent-news .news-item a {
    display: block;
    padding-bottom: 15px;
  }
  #main-wrapper #recent-news .view-all {
    color: #515151;
    float: right;
  }
}

#meet-our-team {
  padding: 25px 0 40px 0;
}
#meet-our-team #partners {
  max-width: 1008px;
  margin-left: auto;
  margin-right: auto;
}
#meet-our-team #partners:after {
  content: "";
  display: table;
  clear: both;
}
#meet-our-team #partners div {
  max-width: 1008px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
#meet-our-team #partners div:after {
  content: "";
  display: table;
  clear: both;
}
#meet-our-team #partners div:last-child {
  margin-right: 0;
}
#meet-our-team #partners div img {
  padding-bottom: 10px;
}
#meet-our-team #partners div h4 {
  padding-bottom: 0px;
}
@media screen and (min-width: 1025px) {
  #meet-our-team #partners div {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
  }
  #meet-our-team #partners div:last-child {
    margin-right: 0;
  }
  #meet-our-team #partners div:nth-child(6n) {
    margin-right: 0;
  }
  #meet-our-team #partners div:nth-child(6n+1) {
    clear: left;
  }
}

#about-us {
  padding: 40px 0 20px 0;
  background: lightgray;
}
#about-us .area {
  padding-bottom: 20px;
}
#about-us .area h4 {
  margin: 20px 0 4px 0;
  border-bottom: solid 1px;
  padding-bottom: 6px;
}
#about-us .area p {
  margin-bottom: 2px;
}
@media screen and (min-width: 1025px) {
  #about-us .area {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  #about-us .area:last-child {
    margin-right: 0;
  }
}

#posts-list {
  padding: 40px 0;
}
#posts-list #recent-news .post-date {
  font-size: 12px;
  text-transform: uppercase;
  color: #a8a8a8;
  display: block;
  padding-bottom: 4px;
}
@media screen and (min-width: 1025px) {
  #posts-list #recent-news {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
  }
  #posts-list #recent-news:last-child {
    margin-right: 0;
  }
  #posts-list #resource-links {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-right: 0;
  }
  #posts-list #resource-links:last-child {
    margin-right: 0;
  }
  #posts-list #resource-links a {
    padding-bottom: 10px;
    display: block;
  }
}

#single-post {
  padding: 40px 0;
}
@media screen and (min-width: 1025px) {
  #single-post article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
  }
  #single-post article:last-child {
    margin-right: 0;
  }
}

.single-post {
  padding-top: 50px;
}
@media screen and (min-width: 768px) {
  .single-post {
    padding-top: 64px;
  }
}
@media screen and (min-width: 1025px) {
  .single-post {
    padding-top: 125px;
  }
}
.single-post .main-nav {
  background-color: #003ca6;
}
