* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  color: #bada55;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
}

body {
  font-family: "Roboto", sans-serif;
  color: #515151;
}

img {
  max-width: 100%;
}

ul,
ol,
dl,
li,
dt,
dd {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
li,
dt,
dd {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  color: #003ca6;
  font-size: 32px;
  font-weight: 400;
}

h2 {
  font-size: 26px;
  font-weight: 500;
  color: #003ca6;
  padding-bottom: 15px;
}

h3 {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
}

p,
textarea,
blockquote {
  line-height: 1.4;
}

a {
  color: #003ca6;
  text-decoration: none;
}
a:hover {
  color: #002d7c;
  text-decoration: underline;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1008px;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1025px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

#header {
  background-color: #003ca6;
}
@media screen and (min-width: 768px) {
  #header #mobile-menu-button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__list-item {
    float: left;
  }
}
.main-nav__link {
  display: block;
  padding: 13px;
  border-radius: 3px;
  color: white;
  text-align: center;
}
.main-nav__link:hover, .main-nav__link--current-page {
  background-color: white;
  text-decoration: none;
  color: #003ca6;
}
@media screen and (min-width: 768px) {
  .main-nav__link {
    display: inline-block;
  }
}

#footer {
  color: #a8a8a8;
  padding: 40px 0;
<<<<<<< HEAD
  background-color: #515151;
=======
  background-color: #3c3c3c;
>>>>>>> 6ff83d7bcd3bee3ff79453b5033d91bde76a4dd1
}

#main-wrapper {
  padding: 40px 0;
}
@media screen and (min-width: 768px) {
  #main-wrapper #welcome {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  #main-wrapper #welcome:last-child {
    margin-right: 0;
  }
  #main-wrapper #recent-news {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  #main-wrapper #recent-news:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1025px) {
  #main-wrapper #welcome {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
  }
  #main-wrapper #welcome:last-child {
    margin-right: 0;
  }
  #main-wrapper #recent-news {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  #main-wrapper #recent-news:last-child {
    margin-right: 0;
  }
}

#about-us {
  padding: 40px 0;
}
@media screen and (min-width: 1025px) {
  #about-us .area {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  #about-us .area:last-child {
    margin-right: 0;
  }
}

#contact-section {
  padding: 40px 0;
}
#contact-section #contact-us {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
#contact-section #contact-us:last-child {
  margin-right: 0;
}
#contact-section #our-locations {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
#contact-section #our-locations:last-child {
  margin-right: 0;
}
#contact-section #our-locations div {
  max-width: 1008px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding-bottom: 15px;
}
#contact-section #our-locations div:after {
  content: "";
  display: table;
  clear: both;
}
#contact-section #our-locations div:last-child {
  margin-right: 0;
}
#contact-section #our-locations div:nth-child(2n) {
  margin-right: 0;
}
#contact-section #our-locations div:nth-child(2n+1) {
  clear: left;
}
