//////////////////////////////////////////
//
//  BASE STYLES
//
//////////////////////////////////////////

*,
*:before,
*:after { @include box-sizing(border-box); }

html {
    color: $textColor;
    font-family: $sansFontFamily;
    font-weight: 400;
    font-style: normal;
    font-size: 100%; // Defaults to 14px
    line-height: 1;
}

body {
    font-family: $sansFontFamily;
    color: palette(gray);
}

img { max-width: 100%; }

ul,
ol,
dl,
li,
dt,
dd { list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
li,
dt,
dd {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 { line-height: $baseHeaderLineHeight; }


//Header Styles
h1 {
    color: palette(blue);
    font-size: $font-xlarge;
    font-weight: 400;
	text-transform:uppercase;
	padding-bottom:15px;
}


h2 {
    font-size: $font-large;
    font-weight: 300;
    color: palette(gray, darkest);
    padding-bottom:15px;
}

h3 {
    font-size: $font-medium;
    font-weight: 400;
    padding-bottom:10px;
	color: palette(blue);
}

h4 {
    font-size: $baseFontSize;
    font-weight: 600;
    padding-bottom:10px;
	color:palette(gray, darkest);
}



//////////////////////////////////////////
// Button style
//////////////////////////////////////////

.btn, input[type="submit"] {
    display: inline-block;
    background: $blue;
    border-radius: 4px;
    color: $white;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
	border:0;

    &:hover {
        background: palette(blue, darker);
        text-decoration: none;
		color:$white;
    }
    &:focus { outline: none; }
}

input[type="text"], input[type="email"], textarea {
	padding:6px;
	width:80%;
}




// Intent: set a nice readable default line-height
p,
textarea,
blockquote { line-height: $baseLineHeight; }

a {
    line-height: $baseLineHeight;
    color: palette(blue);
    text-decoration: none;

    &:hover {
        color: palette(blue, dark);
        text-decoration: underline;
    }
}

.container {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;

	@include outer-container;

	@include media($tablet) {
		padding-left: 30px;
		padding-right: 30px;
	}

	@include media($desktop) {
		padding-left: 0px;
		padding-right: 0px;
	}

}

// This is better....
p + p { margin-top: 15px; }

// Classes added to body. Accounts for header sizes.
.single,
.page {
    padding-top: 50px; // Phone nav height

    @include media($tablet) {
        padding-top: 64px;
    }

    @include media($desktop) {
        padding-top: 125px;
    }

    .main-nav { background-color: palette(blue); }
}