#footer {
    color: palette(gray, lighter);
    padding:40px 0;
<<<<<<< HEAD
    background-color: palette(gray);
=======
    background-color: palette(gray, dark);
    
>>>>>>> 6ff83d7bcd3bee3ff79453b5033d91bde76a4dd1
}