.main-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(palette(blue), 0.95);

    @include media($tablet) {
        @at-root .home & { background-color: transparent; } // Make the background transparent ONLY on the homepage
    }

    &.headroom--not-top  {
        position: fixed;
        background-color: rgba(palette(blue), 0.95);

        @include transform(translateY(-100%));
        @include transition-property (transform);
        @include transition-duration(0s);
        @include transition-timing-function(ease-in-out);
    }

    &.headroom--unpinned {
        @include transform(translateY(-100%));
        @include transition-property (transform);
        @include transition-duration(0.25s);
        @include transition-timing-function(ease-in-out);
    }

    &.headroom--pinned {
        @include transform(translateY(0));
        @include transition-property (transform);
        @include transition-duration(0.25s);
        @include transition-timing-function(ease-in-out);
    }

    &__logo {
        display: block;
        float: left;
        max-width: 160px;
        padding: 10px 0;

        @include media($tablet) {
            max-width: 220px;
            padding: 12px 0;
        }

        @include media($desktop) {
            max-width: 360px;
            padding: 30px 0;
        }
    }

    &__menu-button {
        display: block;
        padding: 4px 0;
        text-align: right;
        overflow: hidden;

        @include media($tablet) { display: none; }
    }

    &__list {
        display: none;
        width: 100%;

        @include media($tablet) {
            display: block !important;
            float: right;
            width: auto;
        }
    }

    &__list-item {
        margin-bottom: 10px;

        @include media($tablet) {
            float: left;
            margin: 11px 0;
        }

        @include media($desktop) {
            margin: 40px 0;
        }
    }

    &__link {
        display: block;
        padding: 9px; // 40px button size
        border-radius: 3px;
        color: $white;
        text-align: center;

        &:hover {
            background-color: $white;
            text-decoration: none;
            color: palette(blue);
        }

        @include media($tablet) {
            display: inline-block;
        }
    }
}