#header {
    

















    
}

.main-nav {
    background-color: palette(blue);
    
    &__logo {
        display: block;
        float: left;
    }
    
    &__menu-button {
        display: block;
        float: right;
        
        @include media($tablet) { display:none; }
    }
    
    &__list {
        display: none;
        
        @include media($tablet) {
            display: block;
            float: right;
        }
    }
    
    &__list-item {
        @include media($tablet) {
            float: left;
        }
    }
    
    &__link {
        display: block;
        padding: 13px; // 40px button size
        border-radius: 3px;
        color: $white;
        text-align: center;
        
        &:hover,
        &--current-page {
            background-color: $white;
            text-decoration: none;
            color: palette(blue);
        }
        
        @include media($tablet) {
            display: inline-block;
        }
    }
}