.home-banner {
    position: relative;
    height: 500px;
    background: no-repeat center center fixed;
    background-size: cover;

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 768px;
        padding: 0 15px;
        text-shadow: 2px 2px 0 $black;

        @include media($tablet) {
            width: 75%;
            padding: 0;
        }

        h1 {
            font-size: 60px;
            font-weight: 700;
            color: $white;
            text-transform: none;
        }

        p {
            font-size: 18px;
            line-height: 1.7;
            color: $white;
        }

        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
}

#main-wrapper {
	padding: 40px 0;

	#inspirational-quote {

		text-align:center;
		.quote {
			font-weight:300;
			font-size:$font-xlarge;
			color:palette(blue);
			display:block;
		}

		.author {
			font-weight:300;
			color:palette(gray);
			font-size:$baseFontSize;
			padding-top:15px;
			display:block;
		}
	}

	@include media($tablet) {
		#welcome {
			@include span-columns(6);
		}

		#recent-news {
			@include span-columns(5);
            @include shift(1);
		}
	}

	@include media($desktop) {
		#welcome {
			@include span-columns(7);
		}

		#recent-news {
			@include span-columns(4);
            @include shift(1);

			.news-item {
				border-bottom:solid 1px palette(gray, lightest);
				padding-bottom:6px;
				margin-bottom:12px;


				.post-date {
					font-size:12px;
					text-transform:uppercase;
					color:palette(gray, lighter);
					display:block;
					padding-bottom:4px;
				}

				a {
					display:block;
					padding-bottom:15px;
				}
			}

			.view-all {
				color:palette(gray);
				float:right;
			}
		}
	}
}

#meet-our-team {
	padding:25px 0 40px 0;

	#partners {
		@include outer-container();

		div {
			@include outer-container();
			@include span-columns(5);

			img {
				padding-bottom:10px;
			}

			h4 {
				padding-bottom:0px;
			}

			@include media($desktop) {
				@include span-columns(2);
				@include omega(6n);
			}
		}
	}
}

#about-us {
	padding:40px 0 20px 0;
	background: palette(gray, lightest);

	.area {
		padding-bottom:20px;

		h4 {
			margin:20px 0 4px 0;
			border-bottom:solid 1px palette(gray, ligher);
			padding-bottom:6px;
		}

		p {
			margin-bottom:2px;
		}
		@include media($desktop) {
			@include span-columns(4);
		}
	}
}
