.home-banner {
    position: relative;
    height: 500px;
    background: no-repeat center center fixed;
    background-size: cover;

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 768px;
        padding: 0 15px;
        text-shadow: 2px 2px 0 $black;

        @include media($tablet) {
            width: 75%;
            padding: 0;
        }

        h1 {
            font-size: 60px;
            font-weight: 700;
            color: $white;
            text-transform: none;
        }

        p {
            font-size: 18px;
            line-height: 1.7;
            color: $white;
        }

        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
}

.home {
    #inspirational-quote {
		text-align: center;

		#quote-flourish {
			padding-bottom:10px;
			@include outer-container();

			#quote-hr-left {
				@include span-columns(5);
				padding-left:15%;

			}

			#quote-hr-right {
				@include span-columns(5);
				@include omega();
				padding-right:15%;
			}

			hr {
				color:palette(gray, lighter);
				background-color:palette(gray, lighter);
				height: 1px;
				border: 0px;
				clear: both;
				margin-top:20px;
			}

			#quote-img {
				@include span-columns(2);

				span {
					background:$blue;
					border-radius:50%;
					font-size:$font-large;
					color:$white;
					display:inline-block;
					width:45px;
					height:45px;

					p {
						font-family:Georgia, "Times New Roman", Times, serif;
						font-size: 55px;
						line-height: 1.32;

					}
				}
			}
		}
		#quote {
			font-weight:300;
			font-size:$font-xlarge;
			color:palette(blue);
			display:block;
		}

		#author {
			font-weight: 300;
			color: palette(gray);
			font-size: $baseFontSize;
			padding-top: 15px;
			display: block;
		}
	}

	@include media($tablet) {
		#welcome {
			@include span-columns(6);
		}

		.news {
			@include span-columns(5);
            @include shift(1);
		}
	}

	@include media($desktop) {
		#welcome {
			@include span-columns(7);
		}

		.news {
			@include span-columns(4);
            @include shift(1);
		}
	}
}

#meet-our-team {
	padding:25px 0 40px 0;

	#partners {
		@include outer-container();

		div {
			@include outer-container();
			@include span-columns(5);

			img {
				padding-bottom:10px;
			}

			h4 {
				padding-bottom:0px;
			}

			@include media($desktop) {
				@include span-columns(2);
				@include omega(6n);
			}
		}
	}
}

#about-us {
	padding:40px 0;
	background: palette(gray, lightest);

	.area {
		margin:20px 0;
		padding:20px;
		background:palette(blue, lighter);
		border-radius:4px;
		color:$white;

		h4 {
			margin:0 0 6px 0;
			border-bottom:solid 1px palette(gray, ligher);
			padding-bottom:6px;
			color:$blue;
		}

		p + p {
			margin-top:6px;
		}

		p {
			font-size:14px;
		}
		@include media($desktop) {
			@include span-columns(4);
		}
	}
}

#contact-section {
	padding:40px 0;


	@include media($desktop) {
		#contact-us {
			@include span-columns(6);
		}

		#our-locations {
			@include span-columns(6);
			@include omega();

			.location {
				@include outer-container();
				@include span-columns(6);
				@include omega(2n);

				padding-bottom:15px;

				p + p {
					margin-top:0px;
				}
				p {
					margin-bottom:2px;
					font-size:14px;
				}
			}
		}
	}
}
