#our-team {
    @include outer-container;

    .subhead { margin-bottom: 50px; }

    .aside {
        margin-bottom: 40px;
        @include outer-container;

        &__module { @include span-columns(6); }

        li {
            margin-top: 15px;

            &:first-child { margin-top: 0; }
        }

        .location {
            font-size: 12px;
            font-weight: 500;
            font-style: italic;
        }
    }

    .team-bios {
        .team-bios__group + .team-bios__group { margin-top: 40px; }

        .bio-main { overflow: hidden; }

        li {
            @extend %clearfix;
            border-bottom: 1px solid palette(gray, lightest);
            padding-bottom: 25px;
            padding-top: 25px;

            &:last-child { border-bottom: 0; }

            &:first-child { padding-top: 0; }
        }

        .btn { margin-top: 15px; }
        
        a+a {margin-left: 10px; }

        img {
            width: 150px;
            float: left;
            margin-right: 20px;
            border-radius: 4px;
        }
    }


    @include media($tablet) {
        .aside {
            @include span-columns(3);

            &__module { @include span-columns(12); }
        }

        .aside__module + .aside__module { margin-top: 25px; }

        .team-bios { @include span-columns(9); }
    }
}