#posts-list {
	padding:40px 0;
	
	#recent-news {
		.post-date {
			font-size: 12px;
			text-transform: uppercase;
			color: #a8a8a8;
			display: block;
			padding-bottom: 4px;
		}
	}
	
	@include media($desktop) {
		#recent-news {
			@include span-columns(9);
		}
		
		#resource-links {
			@include span-columns(3);
			@include omega();
			
			a {
				padding-bottom:10px;
				display:block;
			}
		}
	}
}

#single-post {
	padding:40px 0;
	
	article {
		@include media($desktop) {
			@include span-columns(9);
		}
	}
}