// Class added to body
.single-post {
    padding-top: 50px; // Phone nav height

    @include media($tablet) {
        padding-top: 64px;
    }

    @include media($desktop) {
        padding-top: 125px;
    }

    .main-nav { background-color: palette(blue); }
}