//////////////////////////////////////////
// Grid
//////////////////////////////////////////
$column:	67.6667px;
$gutter:	1.523em;
$grid-columns:	12;
$max-width:	1008px;

$tablet: new-breakpoint(min-width 768px);
$desktop: new-breakpoint(min-width 1025px);



//////////////////////////////////////////
// Colors
//////////////////////////////////////////

$black:			#000000;
$white:			#ffffff;
$blue:			#003ca6;
$yellow:		#fccf1a;
$gray:          #515151;
$textColor:     #bada55;

$palettes: (
    blue: (
        base:       $blue,
        light:      tint($blue, 25%),
        lighter:    tint($blue, 50%),
        lightest:   tint($blue, 75%),
        dark:       shade($blue, 25%),
        darker:     shade($blue, 50%),
        darkest:    shade($blue, 75%)
    ),
    gray: (
        base:       $gray,
        light:      tint($gray, 25%),
        lighter:    tint($gray, 50%),
        lightest:   tint($gray, 75%),
        dark:       shade($gray, 25%),
        darker:     shade($gray, 50%),
        darkest:    shade($gray, 75%)
    )
);

//Friendly color naming with Sass map
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}




//////////////////////////////////////////
// Typography
//////////////////////////////////////////

$sansFontFamily:                'Roboto', sans-serif                !default;
$serifFontFamily:               'Volkhov', Georgia, serif           !default;

$baseFontSize:                  16px                                !default;
$baseLineHeight:                1.4                                 !default;
$baseHeaderLineHeight:          1.2                                 !default;
$textColor:                     $gray-01                            !default;

$font-smallest: 11px;
$font-xsmall:   13px;
$font-small:    $baseFontSize;
$font-medium:   20px;
$font-large:    26px;
$font-xlarge:   32px;
$font-largest:  48px;


//////////////////////////////////////////
// Header/sticky footer variables
//////////////////////////////////////////

$header__height--small: 53px;
$header__height--medium: 67px;
$header__height--large: 128px;

$footer__height: 139px;